In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 3

## Users

In [2]:
user3 = pd.read_csv("3/Users.csv")
user3.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
user3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [5]:
user3.isna().sum()/len(user3)

User-ID     0.000000
Location    0.000000
Age         0.397199
dtype: float64

## Ratings

In [6]:
rating = pd.read_csv("3/Ratings.csv")
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [8]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [9]:
user3["User-ID"].nunique()

278858

In [10]:
rating["User-ID"].nunique()

105283

In [11]:
rating["ISBN"].nunique()

340556

In [12]:
rating["User-ID"].value_counts().iloc[100:]

156150    1104
248718    1104
225810    1100
35857     1099
63714     1068
          ...
116180       1
116166       1
116154       1
116137       1
276723       1
Name: User-ID, Length: 105183, dtype: int64

## Books

In [2]:
books3 = pd.read_csv("3/Books.csv")
books3.info()

C:\Users\harik\AppData\Local\Temp\ipykernel_3916\2423675164.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books3 = pd.read_csv("3/Books.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

# 2

## Book

In [13]:
book2 = pd.read_csv("2/book1400k-1500k.csv")
book2.head().T

,0,1,2,3,4
Id,1400000,1400002,1400008,1400009,1400010
Name,Wege zum Gleichgewicht.,Len Lye,"Trust: Reason, Routine, Reflexivity",Hoobastank - The Reason,Unconditional Parenting: Moving from Rewards a...
Authors,Al Gore,Roger Horrocks,Guido Mollering,Hoobastank,Alfie Kohn
ISBN,3596123453,1869402472,0080448550,0757923070,0743487478
Rating,3.79,4.4,4.25,5.0,4.13
PublishYear,1994,2001,2006,2006,2005
PublishMonth,1,1,1,1,1
PublishDay,6,8,5,1,3
Publisher,Fischer Taschenbuch Vlg.,Auckland University Press,Elsevier Science Ltd,Alfred Publishing Co.,Atria Books
RatingDist5,5:372,5:8,5:1,5:1,5:2550
RatingDist4,4:506,4:5,4:3,4:0,4:1913
RatingDist3,3:341,3:2,3:0,3:0,3:901
RatingDist2,2:90,2:0,2:0,2:0,2:301
RatingDist1,1:45,1:0,1:0,1:0,1:100
RatingDistTotal,total:1354,total:15,total:4,total:1,total:5765
CountsOfReview,0,1,0,0,8
Language,NaN,NaN,NaN,NaN,NaN
pagesNumber,383,460,230,100,264
Description,<div>\n <div>Re-released on the heels of Al G...,<i>Len Lye: A Biography</i> tells for the firs...,What makes trust such a powerful concept? Is i...,(Guitar Recorded Versions). This album-matchin...,"From a nationally respected educator, the auth..."
Count of text reviews,0,1,0,0,8

In [14]:
book2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34759 entries, 0 to 34758
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     34759 non-null  int64
 1   Name                   34759 non-null  object
 2   Authors                34759 non-null  object
 3   ISBN                   34647 non-null  object
 4   Rating                 34759 non-null  float64
 5   PublishYear            34759 non-null  int64
 6   PublishMonth           34759 non-null  int64
 7   PublishDay             34759 non-null  int64
 8   Publisher              34356 non-null  object
 9   RatingDist5            34759 non-null  object
 10  RatingDist4            34759 non-null  object
 11  RatingDist3            34759 non-null  object
 12  RatingDist2            34759 non-null  object
 13  RatingDist1            34759 non-null  object
 14  RatingDistTotal        34759 non-null  object
 15  CountsOfReview         34759 non-null  int64
 16  Language               5729 non-null   object
 17  pagesNumber            34759 non-null  int64
 18  Description            29406 non-null  object
 19  Count of text reviews  34759 non-null  int64
dtypes: float64(1), int64(7), object(12)
memory usage: 5.3+ MB

## Rating

In [15]:
rating = pd.read_csv("2/user_rating_0_to_1000.csv")
rating.head()

   ID                                               Name           Rating
0   1  Agile Web Development with Rails: A Pragmatic ...   it was amazing
1   1  The Restaurant at the End of the Universe (Hit...   it was amazing
2   1                                         Siddhartha   it was amazing
3   1  The Clock of the Long Now: Time and Responsibi...  really liked it
4   1            Ready Player One (Ready Player One, #1)  really liked it

In [16]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51945 entries, 0 to 51944
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      51945 non-null  int64
 1   Name    51945 non-null  object
 2   Rating  51945 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.2+ MB

In [17]:
rating["ID"].nunique()

834

# 1

## Authors

In [19]:
authors = pd.read_csv("1/authors.csv")
authors.head()

   author_id        author_name
0       9561                NaN
1     451324      # House Press
2     454250      # Petal Press
3     249724    #GARCIA MIGUELE
4     287710  #Worldlcass Media

In [20]:
authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654021 entries, 0 to 654020
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   author_id    654021 non-null  int64
 1   author_name  654019 non-null  object
dtypes: int64(1), object(1)
memory usage: 10.0+ MB

## Categories

In [22]:
categories = pd.read_csv("1/categories.csv")
categories.head()

   category_id                                category_name
0         1998                             .Net Programming
1          176  20th Century & Contemporary Classical Music
2         3291  20th Century & Contemporary Classical Music
3         2659      20th Century History: C 1900  To C 2000
4         2661          21st Century History: From C 2000 -

In [23]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2775 entries, 0 to 2774
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    2775 non-null   int64
 1   category_name  2775 non-null   object
dtypes: int64(1), object(1)
memory usage: 43.5+ KB

## Dataset

In [59]:
# Use huggingface datasets to reade csv file
from datasets import load_dataset
dataset = load_dataset("csv", data_files="1/dataset.csv", delimiter=",")

Found cached dataset csv (C:/Users/harik/.cache/huggingface/datasets/csv/default-b1d2ec91dd99d993/0.0.0/eea64c71ca8b46dd3f537ed218fc9bf495d5707789152eb2764f5c78fa66d59d)

  0%|          | 0/1 [00:00<?, ?it/s]

In [60]:
dataset["train"].column_names

['authors',
 'bestsellers-rank',
 'categories',
 'description',
 'dimension-x',
 'dimension-y',
 'dimension-z',
 'edition',
 'edition-statement',
 'for-ages',
 'format',
 'id',
 'illustrations-note',
 'image-checksum',
 'image-path',
 'image-url',
 'imprint',
 'index-date',
 'isbn10',
 'isbn13',
 'lang',
 'publication-date',
 'publication-place',
 'rating-avg',
 'rating-count',
 'title',
 'url',
 'weight']

In [61]:
# def map_fn(row):
#     new_row = {}
#     new_row["authors"] = row["authors"]
#     new_row["categories"] = row["categories"]
#     new_row["isbn13"] = row["isbn13"]
#     new_row["isbn10"] = row["isbn10"]
#     new_row["title"] = row["title"]
#     new_row["lang"] = row["lang"]
#     new_row["publication-date"] = row["publication-date"]
#     return new_row

# dataset["train"] = dataset["train"].map(map_fn, batch_size=1000, num_proc=4)

In [62]:
columns_take = ["authors", "categories", "isbn13", "isbn10", "title", "lang", "publication-date", "format"]
all_columns = dataset["train"].column_names
columns_drop = [column for column in all_columns if column not in columns_take]
dataset["train"] = dataset["train"].remove_columns(columns_drop)

In [63]:
#See the dataset size
dataset["train"].num_rows

1109383

In [64]:
dataset["train"].to_csv("1/dataset_.csv")

Creating CSV from Arrow format:   0%|          | 0/1110 [00:00<?, ?ba/s]

162455833

In [65]:
# save to parquet
dataset["train"].to_parquet("1/dataset.parquet")

Creating parquet from Arrow format:   0%|          | 0/1110 [00:00<?, ?ba/s]

176483513

In [58]:
# # save as arrow
# dataset["train"].save_to_disk("1/dataset.arrow")

Saving the dataset (0/1 shards):   0%|          | 0/1109383 [00:00<?, ? examples/s]